// Here you can add other styles
.pull-right {
    float: right;
}
.sidebar-nav {
    width : 100%;
}
.app {
    min-height: 100vh;
}
.pointer {
    cursor: pointer;
}

input[type=date]::-webkit-clear-button {
    display: none;
}
input[type=time]::-webkit-clear-button {
    display: none;
}
input[type=time].no-ampm::-webkit-datetime-edit-ampm-field {
    display: none;
}

// primer nivel del menu
.sidebar-nav .active {
    border-radius: 60px 0 0 60px;
    background: #4798e8;
    color: #fff !important;
}
.sidebar-nav .active i {
    color: #fff !important;
}
.sidebar-nav .first-level .active {
    border-radius: unset;
    background: unset;
    color: black !important;
    font-weight: bold;
} 

.link-disabled a {
    cursor: not-allowed;
}